apk add --no-cache {% for rep in repositories %}--repository {{ rep }} {% endfor %} php{{ version.suffix }}-fpm
ln -s $(which php-fpm{{ version.suffix }}) /usr/bin/php-fpm || true

date > /etc/build-date
