yes "" | composer global require {% for pkg in composer.packages %}{{ pkg }} {% endfor %}
{% for link in composer.links -%}
ln -s /root/.composer/vendor/bin/{{ link }} /usr/local/bin/
{% endfor %}
apk --no-cache {% for rep in repositories %}--repository {{ rep }} {% endfor %} add {% for pkg in additionalPackagesCli %}{{ pkg }} {% endfor %}

date > /etc/build-date
