apk add --no-cache nginx nginx-mod-http-headers-more nginx-mod-http-js supervisor bash

ln -sf /dev/stdout /var/log/nginx/access.log
ln -sf /dev/stderr /var/log/nginx/error.log
mkdir -p /var/www/html
echo "<?php phpinfo(); ?>" >> /var/www/html/info.php
rm -rf /etc/nginx/conf.d
mkdir -p /run/nginx

chown -R app:app /etc/nginx /var/lib/nginx /run

date > /etc/build-date
